<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />	
        {block name="title"}<title>控制台 - ThinkBlog</title>{/block}
	<!--[if lt IE 9]>
		<script src="http://libs.cdnjs.net/livingston-css3-mediaqueries-js/1.0.0/css3-mediaqueries.min.js"></script>
		<script src="http://libs.cdnjs.net/html5shiv/3.7.3/html5shiv.min.js"></script>
		{load href="/static/home/Javascript/Flot/excanvas.js" /}
	<![endif]-->
	<!-- The Fonts -->
	<!--<link href="http://fonts.gmirror.org/css?family=Oswald|Droid+Sans:400,700" rel="stylesheet" />-->
	<!-- The Main CSS File -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <!--link rel="stylesheet" href="/static/css/layout.css"-->
  <!--link rel="stylesheet" href="/static/css/common.css"-->
 
</head>
<body>
	<!-- Top Panel -->
	<div>
		<div class="navbar navbar-default">
			<ul><span class="glyphicon glyphicon-user">{:session("userid")}</span></ul>
		</div>
		<div class="main">
			<div class="container">
				<div class = "row">
					<div class = "col-md-2">
						<div class="navi">
							<ul class="nav nav-pills nav-stacked">
				      			<li {:echoActive("Content","main_layout","$current_controller","$current_action")}><a href="{:url('admin/content/main_layout')}">Home</a></li>

				      			<li id="depart_into" {:echoActive("Content","departmentmanage","$current_controller","$current_action")}><a href="##">Department</a></li>
				      			<li class="depart_into"><a href="##">部门管理</a></li>
				      			<li class="depart_into"><a href="##">部门考核</a></li>


				      			<li {:echoActive("Content","??","$current_controller","$current_action")}><a href="##">Contract</a></li>
				      			<li {:echoActive("Content","??","$current_controller","$current_action")}><a href="##">Project</a></li>
				      			<li class="disabled"><a href="##">Responsive</a></li>
							</ul>
						</div>
					</div>
					<div class = "col-md-8">
						{block name="content"}{/block}
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="contents">
			<div class="grid_wrapper">
            	
            	<!-- Separator -->
            	<div class="g_12 separator"><span></span></div>
			</div>
		</div>

	</div>

	<footer>
		<div class="wrapper">
			<span class="copyright">
				{$Think.config.site.copyright}
			</span>
		</div>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

     {load href="/static/admin/Javascript/layout.js" /}
</body>
</html>